$lightBlue: #0fa0c7;
$blue: #097994;
$white: #fff;

//Bootstrap overrides
$primary: $lightBlue;
$info: $blue;
$color: $lightBlue;
$btn-font-size: 18px;
$btn-font-weight: 700;
$form-feedback-font-size: 12px;
